http://planning-poker.s3-website-us-west-2.amazonaws.com/0_point.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/half_point.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/1_point.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/1_half_point.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/2_point.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/3_point.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/4_point.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/5_point.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/7_point.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/break.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/clarify.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/epic.png
http://planning-poker.s3-website-us-west-2.amazonaws.com/waterfall.jpg
http://planning-poker.s3-website-us-west-2.amazonaws.com/index.html