https://newrelic.com/assets/newrelic/source/NewRelic-logo-bug.png
https://newrelic.com/assets/newrelic/source/NewRelic-logo-bug-w.png
https://newrelic.com/assets/newrelic/source/NewRelic-logo-bug-clr-w.png
https://newrelic.com/assets/newrelic/source/NewRelic-logo-square.png
https://newrelic.com/assets/newrelic/source/NewRelic-logo-square-w.png
https://newrelic.com/assets/newrelic/source/NewRelic-logo-square-clr-w.png