# Enable or disable the main script components
cpu_enabled=true
ram_enabled=true
network_enabled=true
disk_enabled=true

# Set the time between runs, in seconds
time_between_runs=480

# Set the minimum and maximum length of a run, in seconds
# minimum_run_time should be at least 50% of maximum run time
minimum_run_time=360
maximum_run_time=720

# Set the maximum percentage of your total RAM for the load simulator to occupy
# Remember that multiple copies of the script may be running at once
maximum_ram_percentage=30